# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db




EXCELLENCE:     We hold ourselves to the utmost professional standards constantly learning
                and keeping up with trends.

PASSION:        We love what we do, even when it is an inconvenience.

INTERGRITY:     We hold ourselves accountable to all policies and standards, we act with diginity
                an would not use privileged information for personal gains.

COLLABORATION:  We tackle the root of the problem regardless of the source, we believe in one-team spirit.
