<h1 style="margin: 25% auto !important">
  THIS PAGE HASN'T BEEN CREATED YET, HOLD ON, YOU MAY HAVE GRAND KIDS BEFORE IT MAY BE ADDED
</h1>

<div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel" >

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-multi" data-slide-to="1"></li>
    <li data-target="#carousel-example-multi" data-slide-to="2"></li>
    <li data-target="#carousel-example-multi" data-slide-to="3"></li>
    <li data-target="#carousel-example-multi" data-slide-to="4"></li>
    <li data-target="#carousel-example-multi" data-slide-to="5"></li>
  </ol>
  <!--/.Indicators-->

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item">
      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780//roYyPiQDQKmIKUEhO912693tSja.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title font-weight-bold">A Quiet Place</h4>
            <p class="card-text"> ktdflufjclgcfluytdfltyfdytdydfo7tydotygfluygcgfgckffxfyltdyfkxgfyykfglylcgfk</p>
            <a class="btn btn-primary btn-md btn-rounded">Button</a>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>