<nav class="navbar navbar-expand-lg navbar-dark fixed-top">  
  <a class="navbar-brand" href="/movies" id="Home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">     
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a class="nav-link" data-value="about" routerLink="/about">About</a>        
      </li>  
      <li class="nav-item">
        <a class="nav-link " data-value="portfolio" routerLink="/portfolio">Portfolio</a>    
      </li>
      <li class="nav-item"> 
        <a class="nav-link " data-value="blog" routerLink="/blog">Blog</a>         
      </li>   
      <li class="nav-item">  
        <a class="nav-link " data-value="team" routerLink="/team">Team</a>       
      </li>  
      <li class="nav-item"> 
        <a class="nav-link " data-value="contact" routerLink="/contact">Contact</a>       
      </li> 
    </ul> 
  </div>
</nav>
<router-outlet></router-outlet>