<input type="text" placeholder="What's the word?" [(ngModel)]="movieName">
<button (click)="searchMovie(movieName)" class="btn btn-primary"> Find the Movie!</button>
<div>
  
  <input [(ngModel)]="moviePage" type="number">
  {{ moviesResults.page }}
  <button (click)=more(moviePage) class="btn btn-success">More! </button>
  {{ moviesResults.total_pages }}
    <div *ngIf="moviesResultsState"
        class="row fixedWidth">
        <div 
          *ngFor="let movie of moviesResults.results" 
          (click)="singleMovie(movie.id)"
          class="col-3">
          <img src='http://image.tmdb.org/t/p/w154/{{ movie.poster_path }}'/>
          <p><strong>Title:</strong> {{ movie.title }}</p>
          <p><strong>Total Votes:</strong> {{ movie.vote_count }}</p>
          <p><strong>Vote average:</strong> {{ movie.vote_average }}</p>
          <p><strong>Movie Popularity:</strong> {{ movie.popularity }}</p>
          <p><strong>Overview:</strong> {{ movie.overview }}</p>
          <p><strong>Release date:</strong> {{ movie.release_date }}</p>
        </div>
      </div>
  
   
  <div
    class="row">
      <div 
      *ngIf="movieState"
      class="col-3" >
        <img src='http://image.tmdb.org/t/p/w154/{{ oneMovie.backdrop_path }}'/>
        <p><strong>Title: </strong>{{ oneMovie.original_title }}</p>
        <strong>Genre</strong><span *ngFor="let genre of oneMovie.genres">
              {{ genre.name }} |
        </span>
        <p><strong>Overview: </strong>{{ oneMovie.overview }}</p>
        <span><strong>Runtime: </strong>{{ oneMovie.runtime }} Minutes</span> | <span><strong>Release date: </strong>{{ oneMovie.release_date | json }}</span>
        <p><strong>Budget: </strong>{{ oneMovie.budget | currency: 'USD' }}</p>
        <p><strong>Revenue: </strong>{{ oneMovie.revenue | currency: 'USD' }}</p>
        <p><strong>Tagline: </strong>{{ oneMovie.tagline }}</p>
        <p><strong>Movie Popularity: </strong>{{ oneMovie.popularity }}</p>
        <p><strong>Release date: </strong>{{ oneMovie.release_date }}</p>
        <strong>Production companies</strong><span *ngFor="let company of oneMovie.production_companies">
          {{ company.name }} |
        </span>
    </div>
  </div>


  <div class=" row dongie">
    <div *ngFor="let movie of similarMovieResults.results" (click)="singleMovie(movie.id)">
      <div>
        <p><strong>Title:</strong> {{ movie.title }}</p>
        <p><strong>Total Votes:</strong> {{ movie.vote_count }}</p>
        <p><strong>Vote average:</strong> {{ movie.vote_average }}</p>
        <p><strong>Movie Popularity:</strong> {{ movie.popularity }}</p>
        <p><strong>Overview:</strong> {{ movie.overview }}</p>
        <p><strong>Release date:</strong> {{ movie.release_date }}</p>
      </div>
    </div>
  </div>
  

  
</div>
<ul>
<router-outlet></router-outlet>
