[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.blog{
  margin: 4em 0;
  position: relative; 
 }
 .blog h1{
  color:#F97300;
  margin: 2em; 
 }
 .blog .card{
  box-shadow: 0 0 20px #ccc;
 }
 .blog .card img{
  width: 100%;
  height: 100%;
 }
 .blog .card-title{
  color:#F97300;
 }

.card-title:hover{
  cursor: pointer;
 }
 .blog .card-body{
  padding: 1em;
 }

 .card{
  margin-bottom: 8%;
 }

 p .card-text{
  overflow: hidden;
 }

.CustomCardText{
  max-width: 100%;
}

.loader2{
  margin: 50% auto;
}

 /* .imgHeight{
   height: 540px !important;
 } */

 h4.card-title{
   font-weight: 300 !important;
 }

 .card-img:hover{
   border: 2px;
   border-color: #F97300;
   cursor: pointer;
 }

#loader{
  margin: 25% auto;
  margin-top: 40%;
}

#fullImage{
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100% !important;
}

