/* You can add global styles to this file, and also import other style files */
.dongie {
  height: 360px;
  width: 540px;
}

#movieBlock {
  display: inline-block;
  height: 240px;
}

.fixedWidth {
  content: fixed;
}