.loader2{
  margin: 25% auto;
  margin-left: 40%;
}
.top-left{
  background: #000;
  color: #fff;
  opacity: .5;
  padding: 10px;
  width: 40%;
  height: 40%;
  overflow: scroll
}

/* .top-left{
  color: aliceblue;  
  position: absolute;
  top: 8px;
  left: 16px;
} */